//imports
@import "_header";
@import "_variables";
@import "_about";
@import "_creations";
@import "_footer";
@import "_jsClasses";
@import "_hero";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $josefin_sans;
  font-size: 15px;

  .wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
